<div class="detail-section">
    <h1>Admin Panel</h1>
    <p>Welcome, **<%= currentUser.username %>**! Admin functionalities will be located here.</p>
    
    <div class="detail-actions">
        <a href="/clubs/create" class="btn btn-primary">Create New Club</a>
        <a href="/books/create" class="btn btn-secondary">Add New Book</a>
    </div>
</div>